@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.background-linear {
  background: rgb(104, 31, 139);
  background: linear-gradient(
    100deg,
    rgba(104, 31, 139, 1) 0%,
    rgba(128, 57, 162, 1) 35%,
    rgba(208, 139, 242, 1) 100%
  );
}
